In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import datetime
import sys

In [73]:
results = pd.read_csv('./../../crwa/data/charles_river_samples_interim/results_merged.csv')

In [74]:
results.head()

,Activity_ID,Lab_ID,Date_Collected,Time_Collected,Site_ID,Project_ID,Actual_Result,Actual_Result_Unit_ID,Result_Sample_Fraction,Reporting_Result,...,Data_Type_Name,Media_Type_Name,Media_Subdivision_Name,Component_Name,Activity_Type,Result_Type_ID_x,Result_Type_x,Result_Type_ID_y,Result_Type_y,Relative_Depth_Name
0,720160412ROV1DTH01,None,4/12/2016 0:00:00,05:58:00,ROV1,7.0,0.67,5.0,NaN,0.67,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
1,720160517ROV1DTH01,None,5/17/2016 0:00:00,05:58:00,ROV1,7.0,0.46,5.0,NaN,5.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
2,720160719ROV1DTH01,None,7/19/2016 0:00:00,06:45:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
3,720160719ROV2DTH01,None,7/19/2016 0:00:00,07:00:00,ROV2,7.0,0.5,5.0,NaN,0.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
4,720160816ROV1DTH01,None,8/16/2016 0:00:00,07:17:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface

In [75]:
results['Date_Collected'] = pd.to_datetime(results['Date_Collected'])

In [76]:
results.head()

,Activity_ID,Lab_ID,Date_Collected,Time_Collected,Site_ID,Project_ID,Actual_Result,Actual_Result_Unit_ID,Result_Sample_Fraction,Reporting_Result,...,Data_Type_Name,Media_Type_Name,Media_Subdivision_Name,Component_Name,Activity_Type,Result_Type_ID_x,Result_Type_x,Result_Type_ID_y,Result_Type_y,Relative_Depth_Name
0,720160412ROV1DTH01,None,2016-04-12,05:58:00,ROV1,7.0,0.67,5.0,NaN,0.67,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
1,720160517ROV1DTH01,None,2016-05-17,05:58:00,ROV1,7.0,0.46,5.0,NaN,5.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
2,720160719ROV1DTH01,None,2016-07-19,06:45:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
3,720160719ROV2DTH01,None,2016-07-19,07:00:00,ROV2,7.0,0.5,5.0,NaN,0.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
4,720160816ROV1DTH01,None,2016-08-16,07:17:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface

In [77]:
results.to_csv('./../../crwa/data/charles_river_samples_interim/results_merged.csv',index=False)

In [78]:
results = pd.read_csv('./../../crwa/data/charles_river_samples_interim/results_merged.csv', parse_dates=[['Date_Collected', 'Time_Collected']])

In [79]:
results.head()

,Date_Collected_Time_Collected,Activity_ID,Lab_ID,Site_ID,Project_ID,Actual_Result,Actual_Result_Unit_ID,Result_Sample_Fraction,Reporting_Result,Reporting_Result_Unit_ID,...,Data_Type_Name,Media_Type_Name,Media_Subdivision_Name,Component_Name,Activity_Type,Result_Type_ID_x,Result_Type_x,Result_Type_ID_y,Result_Type_y,Relative_Depth_Name
0,2016-04-12 05:58:00,720160412ROV1DTH01,None,ROV1,7.0,0.67,5.0,NaN,0.67,5.0,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
1,2016-05-17 05:58:00,720160517ROV1DTH01,None,ROV1,7.0,0.46,5.0,NaN,5.50,5.0,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
2,2016-07-19 06:45:00,720160719ROV1DTH01,None,ROV1,7.0,0.33,5.0,NaN,0.33,5.0,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
3,2016-07-19 07:00:00,720160719ROV2DTH01,None,ROV2,7.0,0.5,5.0,NaN,0.50,5.0,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
4,2016-08-16 07:17:00,720160816ROV1DTH01,None,ROV1,7.0,0.33,5.0,NaN,0.33,5.0,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface

In [80]:
results.to_csv('./../../crwa/data/charles_river_samples_interim/results_merged.csv',index=False)