In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import datetime
import sys

In [2]:
for file in os.listdir("../data/charles_river_samples_csv/"):
    print(file)

Activity_Type.csv
Actual_Result_Type.csv
Actual_Result_Units.csv
Analytical_Methods.csv
Collection_Method.csv
Component.csv
Data_Type.csv
Media_Subdivision.csv
Media_Type.csv
Monitoring_Sites.csv
Project_ID.csv
Rainfall.csv
Relative_Depth.csv
Reporting_Result_Type.csv
Reporting_Result_Units.csv
Results.csv
SiteTypes.csv
Waterbody_Name.csv

In [3]:
data_dir = "../data/charles_river_samples_csv/"
df_dict = {file[:-4]:pd.read_csv(data_dir+file, encoding="latin-1") for file in os.listdir(data_dir)}

In [4]:
for title, df in df_dict.items():
    display(title, df.head())

'Activity_Type'

   Activity_Type_ID                               Activity_Type
0                 1                               Field Msr/Obs
1                 2          Field Msr/Obs-Portable Data Logger
2                 3      Quality Control Sample-Equipment Blank
3                 4  Quality Control Sample-Equipment Replicate
4                 5      Quality Control Sample-Field Replicate

'Actual_Result_Type'

   Result_Type_ID Result_Type
0               1      Actual
1               2  Calculated

'Actual_Result_Units'

   Unit_ID Unit_Abbreviation                          Unit_Description
0        1             % Sat                        Percent Saturation
1        2          cells/ml                      Cells per Milliliter
2        3         cfu/100ml  Colony Forming Units per 100 Milliliters
3        4             deg C              Degrees Celsius (Centigrade)
4        5                ft                                      Feet

'Analytical_Methods'

,Analytical_Method_ID,Lab_Name,Parameter,Analysis_ID,Analysis_ID_Source,Analysis_Name,CRWA_References,Data_Type,Container_Type,Sample_Volume,Container_Color,Sterile_Bottle,Chemical_Preserv,Thermal_Preserv,Other_Instructions,Holding_Time,MDL,Reporting_Limit,Action_Limit,Matrix
0,Alpha-BOD,Alpha,BOD5,405.1,USEPA,5 Day Biochemical Oxygen Demand,QAPP 2007-2009 Revision 2,C,Plastic,1000.0,NaN,NaN,None required,Cool to 4°C,None,6 hrs/48 hrs,0.5 mg/l,2.0 mg/l,110 mg/l (p),"RW, SW"
1,Alpha-BOD-2012,Alpha,BOD5,405.1/5210B,USEPA/APHA,5 Day Biochemical Oxygen Demand,QAPP 2010-2012 Revision 1,C,Plastic,1000.0,NaN,NaN,None required,Cool to 4°C,None,6 hrs/48 hrs,0.5 mg/l,2.0 mg/l,110 mg/l (a-2),"RW, SW"
2,Alpha-CBOD,Alpha,CBOD5,5210B,APHA,5 Day Carbonaceous Biochemical Oxygen Demand,QAPP 2007-2009 Revision 2,C,Plastic,1000.0,NaN,NaN,None required,Cool to 4°C,None,6 hrs/48 hrs,0.5 mg/l,1.3 mg/l,110 mg/l (p),"RW, SW"
3,Alpha-CBOD-2012,Alpha,CBOD5,405.1/5210B,USEPA/APHA,5 Day Carbonaceous Biochemical Oxygen Demand,QAPP 2010-2012 Revision 1,C,Plastic,1000.0,NaN,NaN,None required,Cool to 4°C,None,6 hrs/48 hrs,0.5 mg/l,1.3 mg/l,110 mg/l (a-2),"RW, SW"
4,Alpha-ChlorA,Alpha,Chlorophyll a,446,USEPA,Specrophotometric Determination,QAPP 2007-2009 Revision 2,C,Plastic,1000.0,Amber,NaN,None required,Cool to 4°C,"filter, freeze, keep filter in dark","Filter within 6 hrs, hold up to 21 days",0.001 mg/l,0.002 mg/l,0.0037 mg/l (u),"RW, SW"

'Collection_Method'

,Collection_ID,Collection_ID_Source,Collection_Name,Collection_Equip,SOP_Name
0,C-BABN,CRWA,Critical basket from bank,Water Sampler (Other),FDSMPL-O-10 012711 Rev. 10
1,C-BABO,CRWA,Critical basket from boat,Water Sampler (Other),FDSMPL-O-10 012711 Rev. 10
2,C-BABR,CRWA,Critical basket from bridge,Water Sampler (Other),FDSMPL-O-10 012711 Rev. 10
3,C-BAW,CRWA,Critical basket while wading,Water Sampler (Other),FDSMPL-O-10 012711 Rev. 10
4,C-BESW,CRWA,Critical stormwater sample collection with dec...,Water Sampler (Other),FDSMPL-O-10 012711 Rev. 10

'Component'

   Component_ID                                 Component_Name
0             1  Algae, blue-green (phylum cyanophyta) density
1             2                                        Ammonia
2             3                                       Ammonium
3             4                            Barometric pressure
4             5                                       Chlorine

'Data_Type'

   Data_Type_ID Data_Type_Name
0             1       Critical
1             2   Non-critical
2             3        Unknown

'Media_Subdivision'

   Media_Subdivision_ID Media_Subdivision_Name
0                     1            Ambient Air
1                     2        Const. Material
2                     3         Drinking Water
3                     4      Dry Fall Material
4                     5         Filter Residue

'Media_Type'

   Media_Type_ID Media_Type_Name
0              1           Water
1              2             Air
2              3      Biological
3              4         Habitat
4              5        Sediment

'Monitoring_Sites'

,Site_ID,Site_Name,Town,Org_ID,Org_Name,SiteTypeID,WaterbodyID,Latitude_DD,Longitude_DD,Coordinate_Collection_Method,...,HUC12,WBID,WBID_Year,River_Mile_Headwaters,River_Mile_Mouth,River_Mile_Collection_Method,Site_Description,Site_Comment,Alternate_ID,Alternate_ID_Source
0,012S,Watertown Dam Footbridge,Watertown,CRWA,Charles River Watershed Association,1.0,4.0,42.3651,-71.1903,Interpolation-Digital Map Srce (Tiger),...,1.090001e+10,MA72-07_2002,NaN,69.5 MI,10.5,NaN,"42-21.92, 71-11.39, ABOVE WATERTOWN DAM AT FOO...",NaN,NaN,NaN
1,12CS,Above Waterworks Dam,Milford,CRWA,Charles River Watershed Association,1.0,4.0,42.1738,-71.5084,GPS- Unspecified,...,1.090001e+10,NaN,NaN,NaN,NaN,NaN,"Cedar St, Rt 85, above Waterworks Dam",NaN,NaN,NaN
2,130S,Maple St. Bridge,Bellingham,CRWA,Charles River Watershed Association,1.0,4.0,42.1195,-71.4534,Interpolation-Digital Map Srce (Tiger),...,1.090001e+10,MA72-04_2002,NaN,13.0 MI,67,NaN,"MAPLE STREET BRIDGE, BELLINGHAM",NaN,13CS,CRWA
3,13CS,Maple St,Bellingham,CRWA,Charles River Watershed Association,1.0,4.0,42.1195,-71.4534,GPS- Unspecified,...,1.090001e+10,NaN,NaN,NaN,NaN,NaN,"Maple St below N Bellingham Dam, just below 129S",NaN,NaN,NaN
4,143S,Outlet Caryville Dam,Bellingham,CRWA,Charles River Watershed Association,1.0,4.0,42.1311,-71.4442,GPS- Unspecified,...,1.090001e+10,NaN,NaN,NaN,NaN,NaN,Outlet Caryville Dam,NaN,NaN,NaN

'Project_ID'

,Project_ID,Project_Code,Project_Name,WetDry_Definition,Rain_Gauge
0,1,CYN,Cyanobacteria,"Events with greater than 0.1"" of rain in the p...",Logan
1,2,FIFI,Find It and Fix It,NaN,NaN
2,3,FLG,Flagging,"Events with greater than 0.2"" of rain in the p...",Logan
3,4,FLOW,Flow Monitoring,NaN,NaN
4,5,MC,Mystic Collaborative,NaN,NaN

'Rainfall'

         DATE  ID  Precipitation
0  01/01/1995   1           1.07
1  01/02/1995   2           0.44
2  01/03/1995   3           0.00
3  01/04/1995   4           0.00
4  01/05/1995   5           0.00

'Relative_Depth'

   Relative_Depth_ID Relative_Depth_Name
0                  1             Surface
1                  2            Midwater
2                  3         Near Bottom
3                  4              Bottom
4                  5           Subbottom

'Reporting_Result_Type'

   Result_Type_ID Result_Type
0               1      Actual
1               2  Calculated

'Reporting_Result_Units'

   Unit_ID Unit_Abbreviation                          Unit_Description
0        1             % Sat                        Percent Saturation
1        2          cells/ml                      Cells per Milliliter
2        3         cfu/100ml  Colony Forming Units per 100 Milliliters
3        4             deg C              Degrees Celsius (Centigrade)
4        5                ft                                      Feet

'Results'

,Activity_ID,Lab_ID,Date_Collected,Time_Collected,Site_ID,Project_ID,Component_ID,Actual_Result,Actual_Result_Unit_ID,Activity_Type_ID,...,Data_Type_ID,Media_Type_ID,Media_Subdivision_ID,Relative_Depth_ID,Result_Comment,Field_Comment,Event_Comment,QAQC_Comment,Percent_RPD,QAQC_Status
0,720160412ROV1DTH01,None,4/12/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,8.0,0.67,5.0,1.0,...,2.0,1.0,21.0,1.0,NaN,Water very still,NaN,NaN,NaN,Final-Accepted
1,720160412ROV1Temp01,None,4/12/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,26.0,14.5,4.0,1.0,...,2.0,1.0,21.0,1.0,NaN,Water very still,NaN,NaN,NaN,Final-Accepted
2,720160517ROV1DTH01,None,5/17/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,8.0,0.46,5.0,1.0,...,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
3,720160517ROV1Temp01,None,5/17/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,26.0,15,4.0,1.0,...,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
4,720160719ROV1DTH01,None,7/19/2016 0:00:00,12/30/1899 6:45:00,ROV1,7.0,8.0,0.33,5.0,1.0,...,2.0,1.0,21.0,1.0,NaN,Water wasn't deep enough to use basket sampler...,NaN,NaN,NaN,Final-Accepted

'SiteTypes'

   SiteTypeID                      SiteTypeName
0           1                      River/Stream
1           2  Facility Municipal Sewage (POTW)
2           3                       Storm Sewer
3           4                    Combined Sewer
4           5                              Pipe

'Waterbody_Name'

   WaterbodyID     WaterbodyName
0            1      Beaver Brook
1            2    Bogastow Brook
2            3  Canterbury Brook
3            4     Charles River
4            5  Cheesecake Brook

In [5]:
with pd.option_context("display.max_columns", None):
    display(df_dict["Results"].head(30))

,Activity_ID,Lab_ID,Date_Collected,Time_Collected,Site_ID,Project_ID,Component_ID,Actual_Result,Actual_Result_Unit_ID,Activity_Type_ID,Actual_Result_Type_ID,Result_Sample_Fraction,Reporting_Result,Reporting_Result_Unit_ID,Reporting_Result_Type_ID,Collection_ID,Analytical_Method_ID,Associated_ID,Data_Type_ID,Media_Type_ID,Media_Subdivision_ID,Relative_Depth_ID,Result_Comment,Field_Comment,Event_Comment,QAQC_Comment,Percent_RPD,QAQC_Status
0,720160412ROV1DTH01,None,4/12/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,8.0,0.67,5.0,1.0,1.0,NaN,0.67,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Water very still,NaN,NaN,NaN,Final-Accepted
1,720160412ROV1Temp01,None,4/12/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,26.0,14.5,4.0,1.0,1.0,NaN,14.50,4.0,1.0,N-MGBN,Therm-Temp-2012,NaN,2.0,1.0,21.0,1.0,NaN,Water very still,NaN,NaN,NaN,Final-Accepted
2,720160517ROV1DTH01,None,5/17/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,8.0,0.46,5.0,1.0,1.0,NaN,5.50,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
3,720160517ROV1Temp01,None,5/17/2016 0:00:00,12/30/1899 5:58:00,ROV1,7.0,26.0,15,4.0,1.0,1.0,NaN,15.00,4.0,1.0,N-MGBN,Therm-Temp-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
4,720160719ROV1DTH01,None,7/19/2016 0:00:00,12/30/1899 6:45:00,ROV1,7.0,8.0,0.33,5.0,1.0,1.0,NaN,0.33,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Water wasn't deep enough to use basket sampler...,NaN,NaN,NaN,Final-Accepted
5,720160719ROV2DTH01,None,7/19/2016 0:00:00,12/30/1899 7:00:00,ROV2,7.0,8.0,0.5,5.0,1.0,1.0,NaN,0.50,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Water was stagnant in wide area after narrow r...,NaN,NaN,NaN,Final-Accepted
6,720160816ROV1DTH01,None,8/16/2016 0:00:00,12/30/1899 7:17:00,ROV1,7.0,8.0,0.33,5.0,1.0,1.0,NaN,0.33,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Water very low,NaN,NaN,NaN,Final-Accepted
7,720160920ROV1DTH01,None,9/20/2016 0:00:00,12/30/1899 6:00:00,ROV1,7.0,8.0,1,5.0,1.0,1.0,NaN,1.00,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
8,720160920ROV1Temp01,None,9/20/2016 0:00:00,12/30/1899 6:00:00,ROV1,7.0,26.0,20.5,4.0,1.0,1.0,NaN,20.50,4.0,1.0,N-MGBN,Therm-Temp-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
9,720160920ROV2DTH01,None,9/20/2016 0:00:00,12/30/1899 5:25:00,ROV2,7.0,8.0,1,5.0,1.0,1.0,NaN,1.00,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,"Temp 66 degrees F, damp light breeze, water su...",NaN,NaN,NaN,Final-Accepted
10,720160920ROV2Temp01,None,9/20/2016 0:00:00,12/30/1899 5:25:00,ROV2,7.0,26.0,21.3,4.0,1.0,1.0,NaN,21.30,4.0,1.0,N-MGBN,Therm-Temp-2012,NaN,2.0,1.0,21.0,1.0,NaN,"Temp 66 degrees F, damp light breeze, water su...",NaN,NaN,NaN,Final-Accepted
11,720161018ROV1DTH01,None,10/18/2016 0:00:00,12/30/1899 7:10:00,ROV1,7.0,8.0,0.5,5.0,1.0,1.0,NaN,0.50,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Bubbles in discharge. Actively flowing at tim...,NaN,NaN,NaN,Final-Accepted
12,720161018ROV2DTH01,None,10/18/2016 0:00:00,12/30/1899 7:12:00,ROV2,7.0,8.0,0.33,5.0,1.0,1.0,NaN,0.33,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Less flow than new 87. Stone rip rap at outfa...,NaN,NaN,NaN,Final-Accepted
13,720161115ROV1DTH01,None,11/15/2016 0:00:00,12/30/1899 6:02:00,ROV1,7.0,8.0,0.25,5.0,1.0,1.0,NaN,0.25,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
14,720161115ROV2DTH01,None,11/15/2016 0:00:00,12/30/1899 6:15:00,ROV2,7.0,8.0,0.08,5.0,1.0,1.0,NaN,0.08,5.0,1.0,N-MGBN,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Flow ~ 7 gpm (faster than garden hose). Trash...,NaN,NaN,NaN,Final-Accepted
15,720161115ROV2Temp01,None,11/15/2016 0:00:00,12/30/1899 6:15:00,ROV2,7.0,26.0,14.8,4.0,1.0,1.0,NaN,14.80,4.0,1.0,N-MGBN,Therm-Temp-2012,NaN,2.0,1.0,21.0,1.0,NaN,Flow ~ 7 gpm (faster than garden hose). Trash...,NaN,NaN,NaN,Final-Accepted
16,720170110012SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:01:00,012S,7.0,8.0,3.17,5.0,1.0,1.0,NaN,3.17,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,I used an extra bottle (clean) - original lost...,NaN,NaN,NaN,Final-Accepted
17,720170110130SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,130S,7.0,8.0,1.02,5.0,1.0,1.0,NaN,1.02,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Some light rain,NaN,NaN,NaN,Final-Accepted
18,720170110165SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,165S,7.0,8.0,2.5,5.0,1.0,1.0,NaN,2.50,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
19,720170110387SDTH01,None,1/10/2017 0:00:00,12/30/1899 5:56:00,387S,7.0,8.0,6.5,5.0,1.0,1.0,NaN,6.50,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,"Water moving fast, not frozen",NaN,NaN,NaN,Final-Accepted
20,720170110400SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,400S,7.0,8.0,6.71,5.0,1.0,1.0,NaN,6.71,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Lost bottle during sampling,NaN,NaN,NaN,Final-Accepted
21,720170110484SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:10:00,484S,7.0,8.0,4.42,5.0,1.0,1.0,NaN,4.42,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Light rain,NaN,NaN,NaN,Final-Accepted
22,720170110534SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,534S,7.0,8.0,5.54,5.0,1.0,1.0,NaN,5.54,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
23,720170110591SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:05:00,591S,7.0,8.0,0.75,5.0,1.0,1.0,NaN,0.75,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Very fast flow,NaN,NaN,NaN,Final-Accepted
24,72017011059CSDTH01,None,1/10/2017 0:00:00,12/30/1899 6:05:00,59CS,7.0,8.0,2.46,5.0,1.0,1.0,NaN,2.46,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,Final-Accepted
25,720170110662SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,662S,7.0,8.0,10.08,5.0,1.0,1.0,NaN,10.08,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,River frozen in usual spot. Sampled left of lo...,NaN,NaN,NaN,Final-Accepted
26,720170110675SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:05:00,675S,7.0,8.0,2,5.0,1.0,1.0,NaN,2.00,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Smell of natural gas on east side of bridge (c...,NaN,NaN,NaN,Final-Accepted
27,720170110763SDTH01,None,1/10/2017 0:00:00,12/30/1899 6:10:00,763S,7.0,8.0,8.83,5.0,1.0,1.0,NaN,8.83,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,mass Ave bridge wasn't shoveled and they clean...,NaN,NaN,NaN,Final-Accepted
28,720170110773SDTH01,None,1/10/2017 0:00:00,12/30/1899 5:45:00,773S,7.0,8.0,5.08,5.0,1.0,1.0,NaN,5.08,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,Our normal location was iced over so we sample...,NaN,NaN,NaN,Final-Accepted
29,72017011090CSDTH01,None,1/10/2017 0:00:00,12/30/1899 6:00:00,90CS,7.0,8.0,3.33,5.0,1.0,1.0,NaN,3.33,5.0,1.0,N-BABR,Field-Depth-2012,NaN,2.0,1.0,21.0,1.0,NaN,"River iced over in parts, basket went through ...",NaN,NaN,NaN,Final-Accepted

In [6]:
results = df_dict["Results"]

In [7]:
results["Time_Collected"] = pd.to_datetime(results["Time_Collected"])

In [8]:
results["Time_Collected"] = results["Time_Collected"].dt.time

In [9]:
dfs_to_join = [
    "Data_Type",
    "Media_Type",
    "Media_Subdivision",
    "Component",
    
    "Activity_Type",
    "Actual_Result_Type",
    "Reporting_Result_Type",
    "Relative_Depth",
]

In [10]:
left_cols_to_join = [
    "Data_Type_ID",
    "Media_Type_ID",
    "Media_Subdivision_ID",
    "Component_ID",
    
    "Activity_Type_ID",
    "Actual_Result_Type_ID",
    "Reporting_Result_Type_ID",
    "Relative_Depth_ID",
]

In [11]:
right_cols_to_join = [
    "Data_Type_ID",
    "Media_Type_ID",
    "Media_Subdivision_ID",
    "Component_ID",
    
    "Activity_Type_ID",
    "Result_Type_ID",
    "Result_Type_ID",
    "Relative_Depth_ID",
]

In [12]:
for left_col, right_col, df_name in zip(left_cols_to_join, right_cols_to_join, dfs_to_join):
#     print(left_col, right_col, df_name)
    results = results.merge(df_dict[df_name], left_on=left_col, right_on=right_col)

In [13]:
results.drop(columns=left_cols_to_join, inplace=True)

In [14]:
results

,Activity_ID,Lab_ID,Date_Collected,Time_Collected,Site_ID,Project_ID,Actual_Result,Actual_Result_Unit_ID,Result_Sample_Fraction,Reporting_Result,...,Data_Type_Name,Media_Type_Name,Media_Subdivision_Name,Component_Name,Activity_Type,Result_Type_ID_x,Result_Type_x,Result_Type_ID_y,Result_Type_y,Relative_Depth_Name
0,720160412ROV1DTH01,None,4/12/2016 0:00:00,05:58:00,ROV1,7.0,0.67,5.0,NaN,0.67,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
1,720160517ROV1DTH01,None,5/17/2016 0:00:00,05:58:00,ROV1,7.0,0.46,5.0,NaN,5.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
2,720160719ROV1DTH01,None,7/19/2016 0:00:00,06:45:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
3,720160719ROV2DTH01,None,7/19/2016 0:00:00,07:00:00,ROV2,7.0,0.5,5.0,NaN,0.50,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
4,720160816ROV1DTH01,None,8/16/2016 0:00:00,07:17:00,ROV1,7.0,0.33,5.0,NaN,0.33,...,Non-critical,Water,Surface Water,Depth,Field Msr/Obs,1,Actual,1,Actual,Surface
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46445,FLG200808113BUTemp03,None,8/11/2008 0:00:00,09:46:39,3BU,3.0,20.36,4.0,Total,20.36,...,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,1,Actual,1,Actual,Bottom
46446,FLG200808114LONGTemp02,None,8/11/2008 0:00:00,09:15:20,4LONG,3.0,21.33,4.0,Total,21.33,...,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,1,Actual,1,Actual,Bottom
46447,FLG200808114LONGTemp03,None,8/11/2008 0:00:00,09:15:31,4LONG,3.0,21.33,4.0,Total,21.33,...,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,1,Actual,1,Actual,Bottom
46448,FLG200808114LONGTemp05,None,8/11/2008 0:00:00,09:21:29,4LONG,3.0,21.31,4.0,Total,21.31,...,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,1,Actual,1,Actual,Bottom
46449,FLG200809024LONGTemp02,None,9/2/2008 0:00:00,09:17:00,4LONG,3.0,16.32,4.0,Total,16.32,...,Critical,Water,Surface Water,"Temperature, water",Field Msr/Obs,1,Actual,1,Actual,Bottom